/* bio site by @trvnj */

body, html {
    background-image: url("/bg.png");
    /* Background image by Tyler Lastovich: https://unsplash.com/photos/snow-covered-mountain-during-nighttime-ddLiNMqWAOM */
    background-color: #000;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box {
    background-color: rgba(14, 14, 14, 0.856);
    width: 25rem;
    height: 33rem;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 4px rgb(0, 0, 0);
}

.pfp {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-top: 2rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.displayname {
    font-size: 32px;
    font-weight: bold;
    margin-top: 1rem;
}

.username {
    font-size: 18px;
    color: #b6b6b6;
    margin-top: -1rem;
}

span {
    display: block;
    border: 1px solid #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 18px;
}

.btncontainer {
    width: 100%;
    height: 12rem;
}

button {
    width: 95%;
    height: 45%;
    border-radius: 8px;
    border: none;
    background-color: rgba(51, 51, 51, 0.432);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    transition-duration: 0.3s;
}

button:hover {
    background-color: rgba(51, 51, 51, 0.301);
    transition-duration: 0.3s;
}

i {
    color: #fff;
    font-size: 35px;
}

#notification {
    display: flex;
    background-color: rgb(17, 172, 17);
    width: 15rem;
    padding: 20px 20px;
    border-radius: 8px;
    position: fixed;
    margin: 1%;
    
}

.notificontainer {
    display: flex;
    justify-content: right;
}

#x {
    cursor: pointer;
}

/* bio site by @trvnj */
